:root {
    /*shrink hace que al disminuir el tamano de la pantalla, en ves de un elemento X mantener el mismo tamaño (el cual seria relativamente mas grande en una pantalla mas pequeña), se redusca en relacion a la reduccion de la pantalla (orientacion X) pero en menor intensidad (20 siendo menos y 80 mas) */
    --shrink80: calc(1px - (1920px - 100vw) * 0.000526);
    --shrink60: calc(1px - (1920px - 100vw) * 0.000395);
    --shrink40: calc(1px - (1920px - 100vw) * 0.000263);
    --shrink20: calc(1px - (1920px - 100vw) * 0.00018);
    --grow40: calc(1px + (1920px - 100vw) * 0.000263);
    /*dynamic font size*/
    --twentyPx: calc(20 * var(--shrink20));
    --primary: #F3E8D0;
    --secondary: #3F362F;
}

@font-face {
    font-family: "Futura-Condensed-Medium";
    src: url('../assets/fonts/futura/futura medium condensed bt.ttf');
}

@font-face {
    font-family: "Futura-Condensed-Bold";
    src: url('../assets/fonts/futura/futura medium condensed bt.ttf');
}



@font-face {
    font-family: Baloo2-Bold;
    src: url('../assets/fonts/Baloo2-Bold.ttf');
}

@font-face {
    font-family: Baloo2-Regular;
    src: url('../assets/fonts/Baloo2-Regular.ttf');
}

* {
    margin: 0px;
    color: var(--secondary);
    font-family: 'Baloo2-Regular', sans-serif;
    font-size: var(--twentyPx);
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
}

nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 50%;
    translate: -50% 0;

    width: 67vw;
    height: 10vh;
    z-index: 2;

    background-color: var(--secondary);
    border-radius: 1000px;

    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.303);
}

nav a {
    font-family: 'Futura-Condenced-Medium', sans-serif;
    color: var(--primary);
    font-size: calc(25 * var(--shrink40));
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 0px 5%;
    height: 100%;
    width: 15%;

    background-color: var(--primary);
    border-radius: 1000px;
}

.logo{
    height: 100%;
    object-fit: contain;
    max-width: 100%;
}

.links-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 85%;
}

.links-container .link-button {
    border-color: var(--primary);
    font-weight: 600;
}

.links-container svg {
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;

    padding: calc(150 * var(--shrink40)) 8vw;
    box-sizing: border-box;

    background-color: var(--secondary);
}

footer span, footer a {
    color: var(--primary);
}

footer h2 {
    font-size: calc(25 * var(--shrink40));
    color: var(--primary);
}

footer .links {
    display: flex;
    justify-content: start;
}

footer .contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px 8vw 0px 0px;
}

footer .contact div {
    display: flex;
    margin: calc(15 * var(--shrink40)) 0px;
}

footer .contact svg {
    margin-right: calc(15 * var(--shrink40));
}

footer .social {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

footer .social a {
    height: 30px;
    margin: calc(15 * var(--shrink40)) 0px;
}



a {
    text-decoration: none;
}

button {
    background: none;
    border: 3px solid;
    border-radius: 5px;
    padding: calc(var(--shrink40) * 10) calc(var(--shrink40) * 20);

    color: var(--secondary);
    font-family: 'Baloo2-Regular', sans-serif;
    font-size: var(--twentyPx);
    font-weight: 900;
    line-height: 100%;

    cursor: pointer;
}

p {
    text-indent: 40px;
}

h2 {
    font-family: 'Futura-Condensed-Medium', sans-serif;
    font-size: calc(50 * var(--shrink40));
    font-weight: 900;

    color: var(--secondary);
}

.select-wrapper{
    position: relative;
}

.select-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    width: 140px;
    height: 35px;
    padding: 10px 15px ;

    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;

    font-weight: 600;
}

.select-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    right: 0px;

    background-color: var(--secondary);
    translate: 0 100%;
}

.select-options span {
    color: var(--primary);
}

.select-element span {
    color: var(--primary);
}

select {
    padding: 10px 15px ;

    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 5px;

    font-weight: 600;
}

option {
    color: var(--primary);

    font-weight: 600;
}

/* CUSTOM COMPONENTS */

.link-button {  
    display: inline-block;

    padding: 7px 20px 7px 20px;
    
    box-sizing: border-box;
    
    border: 3px solid var(--secondary);
    border-radius: 5px;

    font-weight: 900;
}

.line {
    height: 8px;

    border-radius: 100px;

    background-color: var(--primary);
}

.bigger {
    font-size: calc(220 * var(--shrink40));
}


/* SVGS */

.hamburguer{
    fill: var(--primary);
    width: 5vh;
}

.arrow {
    width: calc(84 * var(--shrink40));
    height: calc(84 * var(--shrink40));
    cursor: pointer;
}

.dropdown-arrow {
    width: calc(20 * var(--shrink40));
    height: calc(20 * var(--shrink40));
    cursor: pointer;
}

.light-arrow {
    width: calc(120 * var(--shrink40));
    height: calc(120 * var(--shrink40));
    cursor: pointer;
}

.phone {
    width: 30px;
    height: 30px;
}

.whatsapp {
    width: 30px;
    height: 30px;
}

.mail {
    width: 30px;
    height: 30px;
}

.facebook {
    width: 30px;
    height: 30px;
}

.instagram {
    width: 30px;
    height: 30px;
}

.trip-advisor {
    width: 30px;
    height: 30px;
}

/* TOOLS */

.outline {
    outline: 1px solid black;
}



/* RESPONSIVE */

@media screen and (max-width: 1200px){
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    
    footer .links {
        flex-direction: column;
        align-items: center;
    }
    
    footer .contact {
        align-items: center;
        margin: 0px 0px calc(100 * var(--shrink40)) 0px;
    }
    
    footer .social {
        align-items: center;
        margin: 0px 0px calc(100 * var(--shrink40)) 0px;
    }

    footer img {
        width: 75vw
    }
}

@media screen and (max-width: 1000px){
    p {
        text-indent: 0;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    nav {
        width: 84vw;
    }
    nav .links-container {
        justify-content: end;
        padding-right: 5vh;
    }
    nav .links-container svg{
        display: inline-block;
    }
    nav .links-container a{
        display: none;
    }
    nav .logo-container {
        width: 20%;
    }
}

@media screen and (max-width: 650px){
    nav .logo-container {
        width: 50%;
    }
}

@media screen and (max-width: 450px){

    nav .logo-container {
        width: 60%;
    }
}



/*

@font-face {
    font-family: MilkyBar-Normal;
    src: url('C:\Users\dell user 2\Desktop\Apps\Microsoft VS Code\resources\app\extensions\markdown-math\notebook-out\fonts\MilkyBar-Normal');
}

@font-face {
    font-family: Baloo2-Bold;
    src: url('C:\Users\dell user 2\Desktop\Apps\Microsoft VS Code\resources\app\extensions\markdown-math\notebook-out\fonts\Baloo2-Bold');
}

@font-face {
    font-family: Baloo2-Regular;
    src: url('C:\Users\dell user 2\Desktop\Apps\Microsoft VS Code\resources\app\extensions\markdown-math\notebook-out\fonts\Baloo2-Regular');
}

*/