#hero {
    position: relative;
    height: 100vh;

    overflow-x: clip;
    box-sizing: border-box;

    background-size: cover;
    background-image: url("../assets/index/hero-background.png");

}

#hero .wrapper{
    display: flex;
    align-items: center;
    position: relative;

    height: 100%;
    padding:0px 17vw;

    box-sizing: border-box;
}

#hero .copy {
    margin-top: 5%;

}

#hero .image {
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);

    width: 60%;
    aspect-ratio: 1/1;

}

h1{
    color: var(--primary);
    font-size: calc(90 * var(--shrink40));
    font-family: 'Futura-Condensed-Medium', sans-serif;
    font-weight: 100;

    line-height: 85%;
    text-size-adjust: none;
}

#hero h1.bigger {
    top: calc(-110 * var(--shrink40));
}

#hero .copy .link-button {
    display: inline-block;
    margin-top: 50px;
    color: var(--primary);
    border-color: var(--primary);
}

#benefits-0 {
    width: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;

    background-size: cover;
    background-image: url("../assets/background.png");
}

#benefits-0 .container-0 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: calc(300 * var(--shrink40));
    padding: 0px 17vw;

    box-sizing: border-box;

}

#benefits-0 .container-0 .ilustration {
    width: 33vw;
    aspect-ratio: 1/1;
}

#benefits-0 .container-0 .copy {
    width: 25vw;
}

#benefits-0 .copy h2 {
    margin-bottom: 25px;

    font-family: 'Futura-Condensed-Medium', sans-serif;
    font-size: calc(50 * var(--shrink40));
    font-weight: 900;

    color: var(--secondary);
}

#benefits-0 .copy .link-button {
    display: inline-block;
    
    margin-top: 50px;
}


#benefits-0 .container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: calc(300 * var(--shrink40)) 0px;
    padding: 0px 8vw 0px 17vw;

    box-sizing: border-box;

}

#benefits-0 .container-1 .ilustration {
    width: 42vw;
    aspect-ratio: 5/3;
}

#benefits-0 .container-1 .copy {
    width: 25vw;
}




#about-us {
    display: flex;
    position: relative;
    
    width: 100%;
    max-height: 100vh;
}

#about-us .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 8vw 8vw;

    box-sizing: border-box;

    background-color: var(--secondary);
}

#about-us img {
    width: 50%;

}

#about-us .container * {
    color: var(--primary)
}

#about-us .line {
    width: 70px;
    margin: calc(25 * var(--shrink40)) 0;
}






#benefits-1 {
    background-size: cover;
    background-image: url("../assets/background-2.png");
}

#benefits-1 .container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: calc(150 * var(--shrink40)) 17vw;
    box-sizing: border-box;
}

#benefits-1 .container .copy{
    display: flex;
    justify-content: space-between;
    position: relative;

    margin-top: calc(50 * var(--shrink40));
}

#benefits-1 .container .copy div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25%;
}

#benefits-1 .container .copy div p {
    margin-top: calc(25 * var(--shrink40));

    
    text-align: center;
    text-indent: 0;
}

.paw {
    width: 66px;
}

.park {
    width: 66px;
}

.handicap {
    width: 66px;
}



#cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-image: url("../assets/index/cta-background.png");
    background-size: cover;
}

#cta .line {
    margin-top: calc(50 * var(--shrink40));
    width: 130px;
}

#cta p {
    margin-top: calc(50 * var(--shrink40));
    width: 33vw;
    color: var(--primary);
    border-color: var(--primary);

    text-indent: 0%;
    text-align: center;
}

#cta .link-button {
    margin: calc(100 * var(--shrink40)) calc(25 * var(--shrink40));
    
    color: var(--primary);
    border-color: var(--primary);
}






#benefits-2 {
    width: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;

    background-size: cover;
    background-image: url("../assets/background.png");
}

#benefits-2 .copy h2 {
    margin-bottom: 25px;

    font-family: 'Futura-Condensed-Medium', sans-serif;
    font-size: calc(50 * var(--shrink40));
    font-weight: 900;

    color: var(--secondary);
}

#benefits-2 .copy .link-button {
    display: inline-block;
    
    margin-top: 50px;
}

#benefits-2 .container-0 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: calc(300 * var(--shrink40)) 0px;
    padding: 0px 8vw 0px 17vw;

    box-sizing: border-box;

}

#benefits-2 .container-0 .ilustration {
    width: 42vw;
}

#benefits-2 .container-0 .copy {
    width: 25vw;
}



#benefits-2 .container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    width: 100%;
    margin: calc(300 * var(--shrink40)) 0px;
    padding: 0px 8vw;

    box-sizing: border-box;
}

#benefits-2 .container-1 .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 33vw;
    margin: 0px auto;
}

#benefits-2 .container-1 .filler {
    width: 8vw;
    height: 1px;
}

#benefits-2 .container-1 .wrapper img {
    height: 100%;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.4);
}

#benefits-2 .container-1 .copy {
    width: 25vw;
}

#benefits-2 .container-1 .wrapper .container {
    position: absolute;
    bottom: 50%;
    translate: 0 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

#benefits-2 .container-1 .wrapper .container svg:nth-child(1) {
    translate: calc(-42 * var(--shrink40)) 0;
}

#benefits-2 .container-1 .wrapper .container svg:nth-child(2) {
    translate: calc(42 * var(--shrink40)) 0;
}




#carusel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;

    background-size: cover;
    background-image: url("../assets/background-2.png");
}

#carusel .title {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: calc(150 * var(--shrink40));
}

#carusel .title h1 {
    color: var(--secondary);
}

#carusel .container {
    display: flex;

    margin-bottom: calc(300 * var(--shrink40));
    width: 100%;
    position: relative;
}

#carusel .container .light-arrow:nth-child(1) {
    position: absolute;
    bottom: 50%;
    translate: 0 50%;
    left: 5%;
}

#carusel .container .light-arrow:nth-child(3) {
    position: absolute;
    bottom: 50%;
    translate: 0 50%;
    right: 5%;
}

#carusel .container .slider {
    display: flex;
    justify-content: center;
    position: relative;
    
    width: 100%;
    height: 45vh;

    overflow-x: scroll;

    border: 1px solid rgba(0, 0, 0, 0);
}

#carusel .container .slider::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #carusel .container .slider {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#carusel .container .slider img {
    height: 100%;
    margin: 0px calc(50 * var(--shrink40));

    z-index: -1;
}







/* RESPONSIVE CODE */

@media screen and (max-width: 1300px){
    #hero .image{
        translate: 10% 0px;
    }
}

@media screen and (max-width: 1000px){
    #hero .wrapper {
        flex-direction: column-reverse;
        justify-content: start;
        text-align: center;
        padding: 0;
    }
    #hero .image {
        right: 50%;
        translate: 50% 0px;
        top: -10%;

        width: 120%;
    }
    
    .img-wrapper {
        position: relative;
        height: 50%;
        width: 100%;
    }
    #hero .copy {
        margin-top: 10%;
    }
    #benefits-0 .container-0 {
        flex-direction: column-reverse;
    }

    #benefits-0 .container-0 .ilustration {
        width: 67vw;
        margin-top: 100px;
    }
    
    #benefits-0 .container-0 .copy {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 67vw;
    }

    #benefits-0 .container-1 {
        flex-direction: column;
        padding: 0px 17vw;
    }

    #benefits-0 .container-1 .ilustration {
        width: 67vw;
        margin-top: 100px;
    }
    
    #benefits-0 .container-1 .copy {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 67vw;
    }
    #about-us {
        flex-direction: column;
        height: 100vh;
    }
    #about-us .container, #about-us img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    #benefits-1 .container .copy {
        flex-direction: column;
        align-items: center;
    }
    #benefits-1 .container .copy div {
        margin: calc(50 * var(--shrink40)) 0px;
        width: 75%;
    }
    #cta p {
        margin-top: calc(50 * var(--shrink40));
        width: 66vw;
        color: var(--primary);
        border-color: var(--primary);
    
        text-indent: 0%;
        text-align: center;
    }





    #benefits-2 .container-0 {
        flex-direction: column;
        padding: 0px 17vw;
    }

    #benefits-2 .container-0 .ilustration {
        width: 67vw;
        margin-top: 100px;
    }
    
    #benefits-2 .container-0 .copy {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 67vw;
    }


    
    #benefits-2 .container-1 {
        flex-direction: column-reverse;
    }
    
    #benefits-2 .container-1 .wrapper {
        margin: calc(100 * var(--shrink40)) auto;
        height: 50vw;
    }
    
    #benefits-2 .container-1 .filler {
        display: none;
    }
    
    #benefits-2 .container-1 .copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75vw;
    }
}


@media screen and (max-width: 600px){
    #hero .image {
        top: 25%;

        width: 140%;
    }

}