body {
    background-size: 160vw;
    background-image: url("../assets/background-2.png");
}

#menu {
    overflow-x: clip;
    width: 100%;
    position: relative;

    box-sizing: border-box;
}

h1{
    color: var(--secondary);
    font-size: calc(130 * var(--shrink40));
    font-family: 'Futura-Condensed-Medium', sans-serif;
    font-weight: 600;

    line-height: 85%;
    text-size-adjust: none;
}

#menu .menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    
    width: 84%;
    margin: 0vw 8vw;
    padding: calc(300 * var(--shrink40)) 8vw calc(50 * var(--shrink40)) 8vw;
    box-sizing: border-box;
    border-bottom: 5px solid var(--secondary);
}

#menu .menu-nav span {
    cursor: pointer;
    font-weight: 600;
}

#menu .selected {
    padding: 10px 20px;

    border-radius: 5px;
    color: var(--primary);
    background-color: var(--secondary);

    translate: 0px 10px;
}

#menu .dishes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 100%;
    padding: calc(150 * var(--shrink40)) 8vw;
    box-sizing: border-box;
}

#menu .dishes h2 {
    text-transform: uppercase;
}

#menu .dishes .container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: 0 8vw;
    margin-bottom: calc(75 * var(--shrink40));
}

#menu .menu-nav .select-wrapper {
    display: none;
}

#menu .dishes .container div {
    position: relative;

    display: flex;
    align-items: center;
}

#menu .dishes .container div svg {
    margin-left: calc(15 * var(--shrink40));
}



#menu .icons {
    display: flex;

    padding: 0px 0px calc(25 * var(--shrink40)) 17vw;
}

#menu .icons > div {
    display: flex;
    align-items: center;
}

#menu .icons svg {
    margin-right: calc(10 * var(--shrink40));
}

#menu .icons span {
    margin-right: calc(50 * var(--shrink40));
}

#menu .special{
    width: calc(43 * var(--shrink40));
    aspect-ratio: 1/1;
}

#menu .veggie{
    width: calc(43 * var(--shrink40));
    aspect-ratio: 1/1;
}

#menu .spicy{
    width: calc(43 * var(--shrink40));
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1500px){
    #menu .menu-nav > span {
        display: none;
    }
    #menu .menu-nav .select-wrapper {
        display: flex;
    }
}

@media screen and (max-width: 1000px){
    #menu .menu-nav {
        padding: calc(300 * var(--shrink40)) 0vw calc(50 * var(--shrink40)) 0vw;
    }
    #menu .menu-nav h1 {
        font-size: calc(110 * var(--shrink40));
    }
    #menu .dishes {
        justify-content: center;
    }
    #menu .dishes .container {
        width: 50vw;
        
        margin: 0 4vw calc(100 * var(--shrink40));
    }
    #menu .container span {
        text-align: center;
    }

    #menu .dishes .container div {
        flex-direction: column;
        align-items: center;
    }
    #menu .dishes .container div svg {
        margin: calc(10 * var(--shrink40)) 0;
    }

    #menu .icons {
        display: flex;
        justify-content: center;
        
        width: 100%;
        

        padding: 0;
        padding-bottom: calc(25 * var(--shrink40));
    }

    #menu .icons .container-2 span {
        margin: 0;
    }
}
